@import '../../utils/style/globalVariables.css';

.list_wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.list_title {
   color: var(--secondary-color);
   margin-bottom: 30px;
}

.list_link {
   font-weight: 500;
   color: var(--tertiary-color);
   margin-top: 30px;
}
