@import '../../utils/style/globalVariables.css';

.header {
   box-sizing: border-box;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
}
@media screen and (max-width: 425px) {
   .header {
      padding: 10px;
   }
}

.header_link {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   text-decoration: none;
}

.header_logo {
   width: 80px;
   height: 80px;
   margin-right: 10px;
}

.header_text {
   margin: 0;
   text-align: left;
   color: #000000;
}

.nav {
   display: flex;
   flex-direction: row;
}

.nav_item {
   margin-right: 10px;
   padding: 10px 20px;
   display: flex;
   flex-direction: row;
   align-items: center;
   text-decoration: none;
   color: black;
   background-color: var(--primary-color);
   border-radius: 5px;
}
@media screen and (max-width: 425px) {
   .nav_item {
      padding: 5px;
   }
}

.nav_item:hover {
   background-color: var(--secondary-color);
}

.nav_item_text {
   margin: 0;
   font-size: 18px;
}
@media screen and (max-width: 425px) {
   .nav_item_text {
      font-size: 16px;
   }
}