:root {
   --primary-color: #99aa3b;
   --secondary-color: #73842c;
   --tertiary-color: #5e6d21;
   --grey-color: #808080;
   --light-grey-color: #D3D3D3;
   --font-family: Avenir, Arial, sans-serif;
}